body{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}
#header{ 
    background-color:#3399FF; 
    height: 90px;
    text-align: center;
}
button{
    display: inline-block;
    height: 45px;
    border-radius: 10px;
    font-size: 20px;
    width: 100px;
    margin: 20px auto;
    border: none;
}
button:hover{
    background-color: white;
}
#content{
    margin: auto;
    margin-top: 50px;
    width: 40%;
    border: none;
    border-radius: 15px;
    background-color:white;
}
#login-header,#register-header{
    width: 100%;
    padding: 10px 0px 10px 0px;
    margin: none;
    background-color: #3399FF;
    border: inherit;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: inherit;
    text-align: center;
    font-size: 20px;
}
input{
    width: 97%;
    margin: 6px 1.5% 6px 1.5%;
    height: 40px;
    border: solid 1px lightgray;
    border-radius: 3px;
    padding: 3px;
    font-size: 20px;
}
#first-name,#last-name{
    width: 47.9%;
    margin: 3px;
}
#login-submit, #register-submit{
    margin-left: 37.5%;
    margin-right: 37.5%;
    margin-top: 10px;
    width: 25%;
}
::placeholder{
    color: black;
}
#login{
    display: block;
}
#register{
    display: none;
}















